node_modules
demo/
.test-output/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/docs

# OS
.DS_Store
Thumbs.db

# Env
!.env
!.env.*
.env.*.local
.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
